CUBEJS_DB_HOST=104.199.123.42
CUBEJS_DB_NAME=kpilens
CUBEJS_DB_PORT=9000
CUBEJS_DB_USER=kpilens
CUBEJS_DB_PASS=c2qvoo24h05huqh6m7phkga2479231376f
CUBEJS_WEB_SOCKETS=true
CUBEJS_DB_TYPE=postgres
CUBEJS_API_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjdWJlIjoia3BpIiwiaWF0IjoxNTk1NTEzNTQyLCJleHAiOjE1OTcyNDE1NDJ9.7uKGGXFyydgKGIlnw9V2XV_KawhEtzFl0_H2IGcIjTo


# DB_SERVER_HOST=
# DB_SERVER_PORT=9000
# DATABASE=staging
# DB_SERVER_USERNAME=kpilens
# DB_SERVER_PASSWORD=c2qvoo24h05huqh6m7phkga2479231376f
# PORT=3000
# HASHINGSECRET=everysingleoneofus
# CUBEJS_API_SECRET=5ec6d2637c567e9e687dfe81d5ae178705ff843109f32442c119118701c576b5417d83ca0321f4f169e3abb89223097974c70e1df79cb54973d6e37fc838cc2f
