CUBEJS_DB_HOST=34.67.161.71
CUBEJS_DB_NAME=take_home_
CUBEJS_DB_PORT=5432
CUBEJS_DB_USER=postgres
CUBEJS_DB_PASS=3t8xObxg97C3Kp22
CUBEJS_WEB_SOCKETS=true
CUBEJS_DB_TYPE=postgres
CUBEJS_API_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjdWJlIjoia3BpIiwiaWF0Ij
PORT=4000